.main-trip-menu-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 50%;
    min-width: 768px;
    height: auto;
}
.main-region{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;

    text-decoration: none;
}
.main-nature-hotspot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;

    text-decoration: none;
}
.main-hotspot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;

    text-decoration: none;
}
.main-hotsight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;

    text-decoration: none;
}
.main-region-span{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.main-nature-hotspot-span{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.main-hotspot-span{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}