.main-festival-menu-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 50%;
    min-width: 768px;
    height: auto;
}
.main-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;
    text-decoration: none;
}
.main-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 45%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;
    text-decoration: none;
}
.main-month{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 94%;
    height: 200px;

    margin: 10px;

    border: 3px solid black;
    border-radius: 35px;
    text-decoration: none;
}
.main-category-span{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.main-festival-area{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}
.main-month-month{
    color: #000;
    font-size: 40px;
    font-weight: bold;
}