.main-view-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    width: 50%;
    min-width:768px;
}
.main-view-input{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */


    width:100%;
    height: 500px;

    background-color: burlywood;
    background-image: url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/df/b5/6f/caption.jpg?w=900&h=600&s=1");
}
.main-view-input .input {
    background-color: white;
    
    margin-top: 200px;

    border-radius: 20px 20px 20px 20px;
}
.main-view-input .input-div {
    width: 600px;
    height: 300px;

    border-top: 3px solid black;

    background-color: white;
}
.main-view-input .input-content {
    display: flex;
    flex-direction: column;

    padding: 3px;

    width: 100%;
    height: 70px;

    border-bottom: 1px solid #F1F1F1;
}
.main-view-input input {
    width: 600px;
    height: 60px;

    border: none;
    border-radius: 30px;

    font-size: 20px;
}
.main-view-input input:focus {
    outline: none;
}
.input-content-name{
    font-size: 30px;

    margin-left: 10px;
}
.input-content-adress {
    margin-left: 10px;
}


