.admin-landmark-upload-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-landmark-upload {
    
}
.admin-landmark-list {
    width: 50%;
    height: 120px;

    padding: 6px;

    border: 1px solid black;
}
.admin-landmark-list .title {
    font-size: 24px;
    font-weight: bold;
}