.header-wrap{
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid gainsboro;
    background-color: #60d2ff;
}
/* #41B7E5 */
.header-select-country{
    margin: 20px;

}
.header-main-logo{
    font-size: 50px;
    font-weight: bold;

    text-decoration: none;

    color: white;
}
.header-login-join{
	display: flex;
	flex-direction: row;

    margin: 20px;

}
.header-login-btn{
    color: #000;
    font-size: 25px;
    font-weight: bold;

    margin: 5px;

    text-decoration: none;
}
.header-join-btn{
    color: white;
    font-size: 25px;
    font-weight: bold;

    margin: 5px;

    text-decoration: none;
}