.main-special-wrap{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-special-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    min-width: 768px;
    height: 200px;

    margin-top: 25px;

    background-color: #F6F3F3;
    box-shadow: 2px 2px 2px grey;

    /* border: 1px solid black; */
}
.main-special-item img {
    height: 150px;
    width: auto;

    margin-left: 70px;
}
.main-special-item .title-wrap {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-special-item .title {
    font-size: 48px;
    font-weight: bold;

    margin-left: 30px;
}