.main-wrap{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-select{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 50%;
    min-width: 768px;
    height: 200px;
}
.main-selct-trip{
    width: 50%;
    height: 80%;

    margin: 15px;

    border: 1px solid black;
    border-radius: 20px;
}
.main-select-festival{
    width: 50%;
    height: 80%;

    margin: 15px;

    border: 1px solid black;
    border-radius: 20px;
}
.main-region{
    width: 50%;
    min-width: 768px;
    height: 250px;

    margin: 10px;

    border: 1px solid black;
}
.main-nature-hotspot{
    width: 50%;
    min-width: 768px;
    height: 250px;

    margin: 10px;

    border: 1px solid black;
}
.main-hotspot{
    width: 50%;
    min-width: 768px;
    height: 250px;

    margin: 10px;

    border: 1px solid black;
}