.festival-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.festival-screen {
    width: 50%;
    min-width: 768px;
    height: auto;

    border: 1px solid rgb(199, 196, 196);
}
.festival-header {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 300px;

    border-bottom: 1px solid rgb(199, 196, 196);
}
.festival-header .img-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 100%;

    /* border: 1px solid rgb(199, 196, 196); */
}
.festival-header .title-area {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;

    width: 50%;
    height: 100%;

    /* border: 1px solid rgb(199, 196, 196); */
}
.festival-header .title-area .title {
    font-size: 30px;
    font-weight: bold;
}
.festival-header .title-area .address {
    margin-top: 10px;

    font-size: 18px;
    font-weight: 500;
}
.festival-header img {
    height: 80%;
}
.festival-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
}
.festival-description {
    width: 90%;
    height: auto;

    margin: 10px;
    margin-top: 50px;

    font-size: 18px;
    font-weight: 500;

    /* border: 1px solid rgb(199, 196, 196); */
}
.festival-fee {
    width: 90%;
    height: auto;
    
    margin: 10px;
    margin-top: 50px;

    font-size: 18px;
    font-weight: 500;
}
.festival-img-wrap {
   position: relative;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.festival-img-wrap .image {
    width: 700px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}